html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-weight: 600 !important;
  -webkit-font-smoothing: auto !important;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

#root {
  overflow: auto;
  height: 100%;
}

button,
input,
textarea {
  font-family: inherit !important;
  font-weight: inherit !important;
}

.ant-menu-item {
  color: white !important;
}

.ant-menu-item-selected {
  background-color: #f26522 !important;
}

.ant-menu-item-active {
  background-color: #ff967a !important;
}

.ant-table-thead > tr > th {
  font-weight: 600;
  color: #f26522;
  background-color: rgb(236, 236, 236);
}
